.newProduct{
    flex: 5;
    margin: 20px;
}

.addProductForm {
    margin-top: 10px;
  }
  
  .addProductItem {
    width: 250px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .addProductItem > label {
    color: #6b7280;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .addProductItem > input {
    padding: 10px;
  }
  
  .addProductItem > select {
    padding: 10px;
  }
  
  .addProductButton {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 140px;
    border: none;
    padding: 16px;
    background-color: #716BDE;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size : 16px;
    font-weight: 600;
    height: 30px;
  }