.widgetSm{
    flex: 1;
    box-shadow: 0px 2px 19px -16px rgba(0,0,0,0.1);
    padding: 20px;
    background-color: #FFF;
    margin-right: 20px;
}

.widgetSmTitle{
    font-size: 20px;
    font-weight: 600;
}

.widgetSmImg{
    width:  40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.widgetSmList{
    margin: 0;
    padding: 0;
    list-style: none;
}

.widgetSmListItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.widgetSmUser{
    display: flex;
    flex-direction: column;
}

.widgetSmUsername{
    font-weight: 600;
}

.widgetSmUserTitle{
    font-weight: 300;
}

.widgetSmButton{
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10px;
    padding: 7px 10px;
    background-color: #eeeef7;
    color: #555;
    cursor: pointer;
}

.widgetSmIcon{
    font-size: 16px;
}